/* =====================================
   MY ORDERS
===================================== */

body{
    background:#f3f4f6;
    font-family:"Poppins",sans-serif;
}

/* Page */

.myorders-container{
    max-width:1300px;
    margin:40px auto;
    padding:20px;
}

/* Title */

.page-title{
    font-size:38px;
    font-weight:700;
    color:#f7f8f9;
    text-align:center;
    margin-bottom:40px;
}

.page-title::after{
    content:"";
    display:block;
    width:120px;
    height:4px;
    margin:15px auto 0;
    border-radius:20px;
    background:linear-gradient(90deg,#2563eb,#06b6d4,#8b5cf6);
}

/* Order Card */

.order-card{
    background:#fff;
    border-radius:18px;
    padding:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
    height:100%;
}

.order-card:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(0,0,0,.15);
}

/* Header */

.order-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #eee;
    padding-bottom:15px;
    margin-bottom:20px;
}

.order-header h4{
    margin:0;
    color:#222;
    font-size:22px;
    font-weight:700;
}

.status{
    background:#22c55e;
    color:#fff;
    padding:6px 16px;
    border-radius:30px;
    font-size:14px;
    font-weight:600;
}

/* Order Details */

.order-body{
    margin-bottom:20px;
}

.order-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.order-item span{
    color:#666;
    font-size:16px;
}

.order-item strong{
    color:#111;
    font-size:22px;
}

/* Buttons */

.order-buttons{
    display:flex;
    gap:15px;
    margin-top:25px;
}

.order-buttons .btn{
    flex:1;
    padding:12px;
    border-radius:10px;
    font-weight:600;
    text-align:center;
    border:none;
    text-decoration:none;
    transition:.3s;
}

.order-buttons .btn:hover{
    transform:translateY(-2px);
}

.btn-primary{
    background:#2563eb;
    color:#fff;
}

.btn-success{
    background:#16a34a;
    color:#fff;
}

/* Responsive */

@media(max-width:768px){

.order-header{
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
}

.order-item{
    flex-direction:column;
    align-items:flex-start;
    gap:5px;
}

.order-buttons{
    flex-direction:column;
}

}